.header {
    height: 100vh;
    background-image: url(../images/Layer_15-min.png);
    background-size: cover;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .header {
        background-image: url(../images/Layer_15@2x.png);
    }
  }
  .header__gradient-div {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    position: absolute;
    background: rgba(243,129,129,0.7);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,129,129,0.7)), color-stop(11%, rgba(243,129,129,0.7)), color-stop(100%, rgba(251,226,137,1)));
    background: -o-linear-gradient(top, rgba(243,129,129,0.7) 0%, rgba(243,129,129,0.7) 11%, rgba(251,226,137,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129,0.7)), color-stop(11%, rgba(243,129,129,0.7)), to(rgba(251,226,137,1)));
    background: linear-gradient(to bottom, rgba(243,129,129,0.7) 0%, rgba(243,129,129,0.7) 11%, rgba(251,226,137,1) 100%);
   
  }
  .headerr__gradient-div__creative-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 87px;
  color: $link-color;
  font-family: $font-kusanu;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 7%;
  }
  .header__gradient-div__h1 {
  width: 802px;
  height: 248px;
  color: $link-color;
  font-family: Montserrat, sans-serif;
  font-size: 7rem;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  }
  .headerr__gradient-div__nav-box {
    width: 1200px;
    margin: 0 auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .headerr__gradient-div__nav-box__logo-link {
    font-size: 30px;
    color: $link-color;
    font-weight: 700;
    text-decoration: none;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .headerr__gradient-div__nav-box__nav-list {
    width: 550px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .headerr__gradient-div__nav-box__nav-list__nav-item {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 15px;
  }
  .headerr__gradient-div__nav-box__nav-list__nav-icons {
    width: 30px;
  }
  .headerr__gradient-div__nav-box__nav-list__nav-icons_svg {
  fill: $link-color;
  }
  .headerr__gradient-div__nav-box__nav-list__nav-icons_svg:hover {
  fill: $link-color_hover
  ;
  }
  .headerr__gradient-div__nav-box__nav-list__nav-item__nav-link--hover--after::after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    background-color: $link-color_hover
  ;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    top: 4px;
    margin: 0 auto;
  }
  .header__nav-box__nav-list__nav-item__nav-link--hover--after {
    text-decoration: none;
    font-size: 14px;
    color: $link-color;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    display: inherit;
  }
  .header__nav-box__nav-list__nav-item__nav-link--hover--after:hover {
    color: $link-color_hover
  ;
  }
  .header__nav-box__nav-list__nav-item__nav-link--hover--after::after {
    margin: 0 auto;
    width: 0;
    height: 0;
    display: block;
    content: "";
    background-color: $link-color_hover
  ;
    margin-top: 10px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .header__nav-box__nav-list__nav-item__nav-link--hover--after:hover.header__nav-box__nav-list__nav-item__nav-link--hover--after::after {
    margin: 0 auto;
    width: 100%;
    height: 3px;
    display: block;
    content: "";
    background-color: $link-color_hover
  ;
    margin-top: 10px;
  }
  