/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';
@import "variable.scss";
@import "header.scss";
@import "section1.scss";
@import "section2.scss";
@import "footer.scss";
@import "https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,700,800,900&display=swap";
@import "https://fonts.googleapis.com/css?family=Kaushan+Script&display";
@import "https://fonts.googleapis.com/css?family=Roboto&display";

