.icon-1::before {
    content: url(../images/ALARM.png);
    display: inline-block;
  }
  .icon-2::before {
    content: url(../images/LINE-GRAPH.png);
    display: inline-block;
  }
  .icon-3::before {
    content: url(../images/COMPUTER-OK.png);
    display: inline-block;
  }
  .icon-4::before {
    content: url(../images/BOOK-2.png);
    display: inline-block;
  }
  .icon-5::before {
    content: url(../images/HOME.png);
    display: inline-block;
  }
  .icon-6::before {
    content: url(../images/IMAGE.png);
    display: inline-block;
  }
  
  
  /*---------------------------------------------------------------*/
  
  
  .main__info-box__info-list__info-item__text-div__h3 {
    font-size: 14px;
    color: $main-text-color;
    font-family: "Montserrat";
    font-weight: 400;
    text-transform: uppercase;
  }
  .main__info-box__info-list__info-item__text-div__info-description {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: $font-roboto;
    font-weight: 400;
  }
  .main__section__description-text {
    margin: 0 auto;
    margin-top: 45px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: $font-roboto;
    font-weight: 400;
    text-align: center;
  }
  .main__section__info-block {
    margin-top: 45px;
    height: 640px;
  }
  .main__section__info-block__info-list_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
  }
  .main__section__info-block__info-list_2__info-item__2__shadow-div {
    background-position: center;
    width: 380px;
    height: 470px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(149,225,211,1);
    box-shadow: 0px 0px 0px 0px rgba(149,225,211,1);
    /*
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    */
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .main__section__info-block__info-list_2__info-item__2__shadow-div__picture {
  width: 100%;
  height: 100%;
  }
  .main__section__info-block__info-list_2__info-item__2__shadow-div__picture__people-photo {
  width: 100%;
  height: 100%;
  }
  .main__section__info-block__info-list_2__info-item__2__shadow-div__gradient {
    position: relative;
    top: -100.585%;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(243,129,129,0.7);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,129,129,0.7)), color-stop(11%, rgba(243,129,129,0.7)), color-stop(100%, rgba(251,226,137,1)));
    background: -o-linear-gradient(top, rgba(243,129,129,0.7) 0%, rgba(243,129,129,0.7) 11%, rgba(251,226,137,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129,0.7)), color-stop(11%, rgba(243,129,129,0.7)), to(rgba(251,226,137,1)));
    background: linear-gradient(to bottom, rgba(243,129,129,0.7) 0%, rgba(243,129,129,0.7) 11%, rgba(251,226,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fbe289', GradientType=0 );
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .main__section__info-block__info-list_2__info-item__2__shadow-div__gradient__btn-box {
    width: 228px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /*--------------------------------------КНОПКИ-------------------------------------------*/
  
  .icon {
  width: 56px;
  height: 56px;
  fill: rgb(243, 129, 129);
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: $link-color_hover
  ;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  }
  .icon:hover {
  fill: rgb(255, 255, 255);
  background-color: #f38181;
  }
  .main__section__info-block__info-list_2__info-item__2__shadow-div:hover {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
  }
  .main__section__info-block__info-list_2__info-item__2__shadow-div:hover>.main__section__info-block__info-list_2__info-item__2__shadow-div__gradient {
    opacity: 1;
  }
  .main__section__info-block__info-list_2__info-item__2__names-header {
    margin-top: 30px;
    font-size: 14px;
    color: $main-text-color;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  .main__section__info-block__info-list_2__info-item__2__profile-text {
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: $font-roboto;
    font-weight: 300;
    font-style: italic;
    text-align: center;
  }