.main__underheader-text {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 24px;
    color: $main-text-color;
    font-family: $font-kusanu;
    font-weight: 400;
    text-align: center;
  }
  .main_container_section-1 {
  padding-top: 45px;
  }
  .main__h2--after {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 30px;
    color: $main-text-color;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .main__h2--after::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
  }
  .main__info-box {
    margin: 0 auto;
    margin-top: 60px;
  }
  .main__info-box__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__info-box__info-list__info-item--before {
    width: 360px;
    height: 120px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info-img {
    width: 35px;
    height: 35px;
  }
  .main__info-box__info-list__info-item__text-div {
    width: 290px;
  }
  