* {
    margin: 0;
    padding: 0;
}
input {
    width: 70%;
    font-family: sans-serif;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid #222222 1px;
}
img {
    width: 40%;
    margin: 0 auto;
    display: block;
}
h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}
h3 {
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(128, 11, 11);
    text-align: center;
    display: none;
}
p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
ul {
    width: max-content;
    margin: 0 auto;
}
li {
    font-family: sans-serif;
    font-size: 20px;
}