* {
    margin: 0;
    padding: 0;
}
#gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(165, 42, 42, 0.363);
    list-style: none;
}
.gallery-elem img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    padding: 30px;
    background-color: rgb(34, 34, 34);
}

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }